<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">home</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">project resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://gitlab.com/spare-time-demos/easy">gitlab</a>
            <a class="navbar-item" href="https://gitlab.com/spare-time-demos/easy/-/pipelines">gitlab ci</a>
            <a class="navbar-item" href="https://spare-time-demos.gitlab.io/easy">gitlab pages</a>
            <a class="navbar-item" href="https://gitlab.com/spare-time-demos/easy/-/issues">issue tracker</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
